:root{

--primary:#2563EB;

--secondary:#06B6D4;

--success:#22C55E;

--warning:#F59E0B;

--danger:#DC2626;

--background:#F5F7FB;

--card:#FFFFFF;

--border:#E5E7EB;

--text:#1E293B;

--lightText:#64748B;

--shadow:0 10px 25px rgba(0,0,0,.08);

}